:root {
  --frame-background: rgb(232 249 232);
  --frame-color: rgb(53, 54, 52);
}

* {
  box-sizing: border-box;
  font-family: Lora, sans-serif;
  margin: 0;
  padding: 0;
}

/* Page layout */
.container {
  display: grid;
  grid-template-rows: 4rem 1fr 3rem;
  grid-template-columns: 15rem auto;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
  height: 100vh;
}

/* Header */
.header {
  align-items: center;
  background-color: var(--frame-background);
  color: var(--frame-color);
  display: flex;
  grid-area: header;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.nav-home {
  display: flex;
  float: left;
  position: static;
}

.header img {
  border-radius: 50%;
  float: left;
  height: 50px;
  margin: 0.5rem;
  width: 50px;
}

.header h2 {
  align-items: center;
  display: flex;
  position: static;
}

.navbar-links {
  position: static;
}

.navbar-links a {
  animation: none;
  color: var(--frame-color);
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px 20px;
  text-decoration: none;
}

.navbar-links a.active,
.navbar-links a:hover {
  color: #0d100e;
  text-decoration: underline;
}

.navbar-links li {
  display: inline;
  list-style: none;
}

.toggle-btn {
  display: none;
}

.close-toggle-btn {
  display: none;
}

/* Main */
.content {
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  padding-left: 3rem;
  grid-area: content;
}

.deadline-cad {
  margin: 1rem;
}

.program-course-deadline {
  margin: 2rem 0;
}

.prog-deadline {
  margin: 1rem 0;
}

/* Sidebar */
.sidebar {
  background-color: var(--frame-background);
  color: var(--frame-color);
  grid-area: sidebar;
  padding-left: 2rem;
  padding-top: 2rem;
}

.sidebar-links {
  position: static;
}

.sidebar-links a {
  animation: none;
  color: var(--frame-color);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px 20px;
  text-decoration: none;
}

.sidebar-links a.active,
.sidebar-links a:hover {
  color: #0d100e;
  text-decoration: underline;
}

.sidebar-links li {
  list-style: none;
  padding-top: 2rem;
}

/* Footer */
.footer {
  align-items: center;
  background-color: var(--frame-background);
  color: var(--frame-color);
  bottom: 0;
  color: rgb(51, 51, 51);
  display: flex;
  grid-area: footer;
  justify-content: center;
  width: auto;
}
