* {
  box-sizing: border-box;
  font-family: Lora, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 4rem 1fr 3rem;
  grid-template-columns: 20rem auto;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: rgb(251, 251, 249);
}
.sidebar {
  grid-area: sidebar;
  background-color: rgb(155, 153, 153);
}

.footer {
  grid-area: footer;
  background-color: rgb(218, 223, 218);
  bottom: 0;
  display: flex;
  width: auto;
  color: black;
  justify-content: center;
  align-items: center;
}
.content {
  grid-area: content;
}
